:root.theme-dark {
  --color-bg: #000028;
  --color-primary-title: #db00ff;
  --color-text: #f1b2ce;
  --accent-color: #ff0070;
  --color-decor: #000028;
  --color-border: 255, 0, 112;
  --color-section-title: #ff0070;
  --background-image: url("../images/cover-image-dark.png");
}
